* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color:   #ffffff;
}

.bg-image {
  background-image: url('../images/qlo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6d6161;
}

.container {
  width: 90%;
  max-width: 1070px;

}

form {
  width: 80%;
  max-width: 350px;
  margin: auto;
  padding: 0rem 3rem 3rem 3rem;
  /*overflow: hidden;*/
}

.input-group {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.input-group{
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group .form-control {
  flex-grow: 1;
  height: 35px;
  border: transparent;
  background-color: #fff;
  color: #6d6161;
  padding: 10px 15px;
  font-family: sans-serif;
  font-weight: lighter;
  outline: 0;
  margin-bottom: 10px;
}

.error {
  color: #00e676;
}

.btn {
  width: 100%;
  cursor: pointer;
}

.btn-flat-green {
  border: transparent;
  height: 35px;
  background-color: #00e676;
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  outline: 0;
}

.login-link {
  text-align: center;
  margin: auto;
  display: block;
  color:  #000000;
}
 
.sesion{
  width: 250px; 
  margin: auto;
}


.registro{
  max-width: 450px;
  margin: auto;
  display: block;
}

.registro-form{
  background: #0000004d;
  border-radius: 10px;
}

.registrate{
  padding-top: 3rem;
}

.volver-btn{
  padding-top: 3rem;
}

.letras{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  padding-top: 2rem;
}

.letras2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  padding-top: 1rem;
}

.titulo{
  padding: 3rem 0rem 3rem 0rem;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
}

.volver{
  max-width: 450px;
  margin: auto;
  display: block;
}

.iconos{
  padding: 5px;
  size: 10rem;
}

.form-group{
  margin-bottom: 0px;
}

.btn-anadir{
  margin-top: 10px;
}

.form-signin{
  background: #0000004d;
  border-radius: 10px;
}

